# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env.local

# Dependências
node_modules/

# Arquivos de build
dist/
build/

# Arquivos de IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
